body {
    font-family: "helvetica";
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px auto;
}


/* i did not specified h3 with a selector because in this case we only have one h3 */

h3 { 
    font-family: helvetica;
    color: #fff;
    font-weight: lighter;
    display: inline-table;
    letter-spacing: 1px;
    position: absolute;
}

li {
    display: inline;
    margin-left: 40px;
    float: left;
    border-style: none;
}

li a {
    display: inline;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center;

    padding: 10px 10px 10px 10px;
}

td {
    font-size: 18px;
}

figcaption {
	font-weight: bold
}

#footer {
    text-decoration: none;
    color: #fff;
    background: #FA5858;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
}

span {
    text-align: center;
}

.heading {
    background: #FA5858;
    height: 80px;
    padding-top: 20px;
}

.navbar {
    list-style-type: none;
    border-style: none;
    margin-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #A4A4A4;
    overflow: hidden;
    height: 40px;
    color: #fff;
}

/* tdright and tdleft classes are for the space in the middle of the table */

.tdright { 
    padding-left: 10px;
}

.tdleft {
    padding-right: 10px;
}